.item__reviews
  .item__reviews__evaluation
    .item__reviews__evaluation__review-number
      21件のカスタマーレビュー
    .item__reviews__evaluation__review
      この商品をレビュー
    .item__reviews__evaluation__opinion
      他のお客様にも意見を伝えましょう
    .item__reviews__evaluation__write
      %a{:href => "/items/#{@item.id}/reviews/new"}
        カスタマーレビューを書く
  .item__reviews__review
    - @item.reviews.each do |review|
      .item__reviews__review__name
        = current_user.name
      .item__reviews__review__title
        = review.title
      .item__reviews__review__time
        = review.created_at
      .item__reviews__review__amazon-buy
        Amazonで購入
      .item__reviews__review__text
        = review.text
