<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @item_image.image %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_image.item_id %>
</p>

<%= link_to 'Edit', edit_item_image_path(@item_image) %> |
<%= link_to 'Back', item_images_path %>
