= form_with(model: credit_card, local: true) do |form|
  - if credit_card.errors.any?
    #error_explanation
      %h2
        = pluralize(credit_card.errors.count, "error")
        prohibited this credit_card from being saved:
      %ul
        - credit_card.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :credit_card_name
  .field
    = form.label :number
    = form.text_field :number, id: :credit_card_number
  .field
    = form.label :deadline_month
    = form.text_field :deadline_month, id: :credit_card_deadline_month
  .field
    = form.label :deadline_year
    = form.text_field :deadline_year, id: :credit_card_deadline_year
  .field
    = form.label :user_id
    = form.text_field :user_id, id: :credit_card_user_id
  .actions
    = form.submit
