<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_card.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Deadline month:</strong>
  <%= @credit_card.deadline_month %>
</p>

<p>
  <strong>Deadline year:</strong>
  <%= @credit_card.deadline_year %>
</p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user_id %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
