%p#notice= notice
%h1 Personal Informations
%table
  %thead
    %tr
      %th Name
      %th Post code
      %th Address1
      %th Address2
      %th Phone number
      %th User
      %th{:colspan => "3"}
  %tbody
    - @personal_informations.each do |personal_information|
      %tr
        %td= personal_information.name
        %td= personal_information.post_code
        %td= personal_information.address1
        %td= personal_information.address2
        %td= personal_information.phone_number
        %td= personal_information.user_id
        %td= link_to 'Show', personal_information
        %td= link_to 'Edit', edit_personal_information_path(personal_information)
        %td= link_to 'Destroy', personal_information, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Personal Information', new_personal_information_path
