<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_information.name %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @personal_information.post_code %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @personal_information.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @personal_information.address2 %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @personal_information.phone_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @personal_information.user_id %>
</p>

<%= link_to 'Edit', edit_personal_information_path(@personal_information) %> |
<%= link_to 'Back', personal_informations_path %>
