.cart-status
  .certain-category
    %ul
      %li.selected-category 文房具・オフィス用品
      %li.small-category aaaaa
      %li.small-category ccccc
      %li.small-category ddddd
      %li.small-category eeeee
      %li.small-category fffff

  / - current_user.cart.items.each do |item|
  .subtotal-in-cart
    .status-message
      %p.fas ✔︎追加されました
    .subtotal-detail
      %p.price-sofar
        カートの小計（商品#{@items.length}点）：
        ¥ #{@items.sum { |hash| hash[:price]}.to_s(:delimited)}
      %p.shipping-explanation この注文での獲得ポイント：0pt
      %p.shipping-explanation Amazon.co.jpが発送する対象商品を¥300分追加すると通常配送無料。詳細
    .two-buttons
      %input.edit-cart{:type => "submit", :value => "カートの編集", :onclick => "location.href='/carts'"}/
      %input.to-payment{:type => "submit", :value => "レジに進む", :onclick => "location.href='/carts/buy'"}/
  .card-register-details
    .card-benefits
      %p.card-benefit [年会費無料]カード入会特典（期間限定）
      %p.card-benefit.card-benefit-lower 最大10,000ポイント還元(利用条件等有り)
      %input.card-detail-to-register{:type => "button", :value => "詳細を見る"}/
  %p.purchased-item-detail 購入した商品の関連商品
  .related-recommendations
    - @recommend_items.each do |item|
      .related-recommendation
        - if item.item_images[0] == nil
          = link_to image_tag('/images/no_image.png', size: '200x200'), "/items/#{item.id}"
        - else
          = link_to image_tag(item.item_images[0].image, size: '200x200'), "/items/#{item.id}"
