.wrapper
  /
    <div class="header">
    <div class="header-top">insert
    </div>
    <div class="header-bottom">insert
    </div>
    </div>
  .contents
    .content-top
      %img{:src => "assets/amazonblacktop.jpg",:width => "100%"}
    .content-left
      %h3.category
      .items
        - @items1.each do |item|
          .top_page-item-list
            - if item.item_images[0] == nil
              = link_to image_tag('/images/no_image.png', size: '250x250'), "/items/#{item.id}"
            - else
              = link_to image_tag(item.item_images[0].image, size: '250x250'), "/items/#{item.id}"
      -# %h3.category recommend
      .items
        - @items2.each do |item|
          .top_page-item-list
            - if item.item_images[0] == nil
              = link_to image_tag('/images/no_image.png', size: '250x250'), "/items/#{item.id}"
            - else
              = link_to image_tag(item.item_images[0].image, size: '250x250'), "/items/#{item.id}"
      -# %h3.category recommend
      .items
        - @items3.each do |item|
          .top_page-item-list
            - if item.item_images[0] == nil
              = link_to image_tag('/images/no_image.png', size: '250x250'), "/items/#{item.id}"
            - else
              = link_to image_tag(item.item_images[0].image, size: '250x250'), "/items/#{item.id}"
      -# %h3.category recommend
      .items
        - @items4.each do |item|
          .top_page-item-list
            - if item.item_images[0] == nil
              = link_to image_tag('/images/no_image.png', size: '250x250'), "/items/#{item.id}"
            - else
              = link_to image_tag(item.item_images[0].image, size: '250x250'), "/items/#{item.id}"
    .content-right
      .mini-items
        %a{:href => "https://www.amazon.co.jp/gift-cards-store/b/ref=topnav_storetab_gc?ie=UTF8&node=2351652051"}
          %img{:src => "assets/charge.gif"}
      .mini-items
        %a{:href => "https://www.amazon.co.jp/b/?node=4477550051"}
          %img{:src => "assets/terebi.jpg"}
      .mini-items
        %a{:href => "https://www.amazon.co.jp/b/?node=3535604051"}
          %img{:src => "assets/amagif.jpg"}
      /
        <div class="items mini">
        </div>




