
.review
  = form_for [@item, @review] do |f|
    .review__user
      = f.hidden_field :user_id, value: current_user.id
    .review__title
      = f.label :title
      = f.text_field :title, placeholder: "title"
    .review__rank
      = f.label :rank
      = f.number_field :rank, placeholder: '評価', value: 1, max: 5, min: 1
    .review__text
      = f.text_area :text, placeholder: "text", value: ""
    .review__button
      = button_tag do
        投稿する
