%body
  %header.header
    .nav-belt
      .nav-belt-left
        %a{href: "/"}
          %span.amazon-logo amazon
          %span.amazon-logo-side> .co.jp
      .nav-belt-center
        = form_tag( search_items_path, method: :get) do
          %input#item-search-text{name: "keyword", type: "text", value: ""}<
            %button#item-search-button
              -# = fa_icon 'fas fa-search', class: 'icon'
              %span ðŸ”
      .nav-belt-right
        = image_tag('/images/amazon_prime_logo.png')
    .nav-main
      .nav-main-left
        - if user_signed_in?
          .nav-main-left-address-icon â—
          -# = fa_icon 'fas fa-map-marker-alt'
          .nav-main-left-address
            .delivery-destination-name
              ãŠå±Šã‘å…ˆ #{current_user.name} ã•ã‚“
            .nav-main-left-post-code 384-2609
      .nav-main-center
        .nav-main-center-shop-category
          ã‚«ãƒ†ã‚´ãƒªãƒ¼
        .shop-menu-container
          .nav-amazon-point
            Amazonãƒã‚¤ãƒ³ãƒˆ:
            %span#amazon-point 22
          .nav-main-center-shop-menu
            %a.nav-shop-menu ãƒžã‚¤ã‚¹ãƒˆã‚¢
            %a.nav-shop-menu ã‚¿ã‚¤ãƒ ã‚»ãƒ¼ãƒ«
            %a.nav-shop-menu ã‚®ãƒ•ãƒˆåˆ¸
            %a.nav-shop-menu Amazonã§å£²ã‚‹
            %a.nav-shop-menu ãƒ˜ãƒ«ãƒ—
      .nav-main-right
        .nav-status-bar
          .personal-data
            - if user_signed_in?
              %a.personal-data-user-status
                = current_user.name
                ã•ã‚“
              = link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class: 'personal-data-user-status'
            - else
              = link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: 'personal-data-user-status'
              = link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: 'personal-data-user-status'
            .personal-data-account-list
              ã‚¢ã‚«ã‚¦ãƒ³ãƒˆï¼†ãƒªã‚¹ãƒˆ
          .nav-status-order-history
            æ³¨æ–‡å±¥æ­´
          .nav-status-prime
            ãƒ—ãƒ©ã‚¤ãƒ 
          = link_to "ã‚«ãƒ¼ãƒˆ", carts_path, class: 'nav-status-cart'
