!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FinalDevelopment
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    / サインアップ、ログイン画面の時にはヘッダーを表示しない
    - unless request.filtered_parameters[:controller].include?('devise')
      = render "layouts/header"
      = yield
      = render "layouts/footer"
    - else
      = yield
